*.DS_Store
*.gcov
*~
*.orig
*.mat
*.ulg
*.csv

.cache/
build/
results/
csv_data/
*/*.asv
*/*.a
.ninja_deps
.ninja_log
build.ninja
cmake_install.cmake
CMakeCache.txt
CMakeFiles
compile_commands.json
matrix-prefix/
rules.ninja
EKF/matlab/EKF_replay/OutputPlots/PX4/
EKF/matlab/EKF_replay/OutputData/PX4/
EKF/matlab/EKF_replay/TestData/PX4/*.mat





!07_00_21.ulg
!09_32_48.ulg
!17_48_41.ulg
!log_0_2023-4-26-19-52-20.ulg
!log_6_2023-4-26-17-34-32.ulg
!log15-20.ulg
!log36.ulg
!opt_flow.ulg
!ros.csv
!ros15-20.csv
!ros17-33.csv
!ros19-51.csv